{% block body %}
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>SISTEMA DE TOPICO - Login </title>

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="{{global.pathRecursos}}/basicos/imagenes/logo-ipd.png"/>

        <!-- Styling -->
        <link rel="stylesheet" href="{{ asset('bundles/public/utilitarios/plugin/bootstrap/css/bootstrap.css')}}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/utilitarios/plugin/fontawesome/css/font-awesome.css')}}"/>
        <link rel="stylesheet" href="{{ asset('bundles/public/utilitarios/styles/style.css')}}" rel='stylesheet' type='text/css'/>
        <link rel="stylesheet" href="{{ asset('bundles/public/utilitarios/styles/theme-blue.css')}}" rel='stylesheet' type='text/css'/>

        <!-- End of Styling -->
    </head>
    <style type="text/css">

            .navigation:after,
            #login-page:after {
                background: #2da9e9;
                background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 5%, rgba(203, 208, 214, 0) 100%) !important;
            }

            .page-header {
                padding-bottom: 0px !important;
                margin: 0px;
            }
            .page-header {
                border-bottom: 0px solid #eee !important;
            }
            #login-panel {
                z-index: 2;
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                max-width: 300px!important;
                height: 405px !important;
            }

            .navigation, #login-page {
                background-image: url({{asset('bundles/public/img/fondo8.png')}});
            }
        
    </style>

    <body>
       
        <div class="content" id="login-page">
            <div class="container-fluid">
                <div class="panel" id="login-panel" style="box-shadow: 7px 9px 13px -6px rgba(0,0,0,0.75);opacity: 0.9;">
                    <div class="panel-heading" style="padding-top: 16px;text-align: center;">
                        <div class="vcentered">
                            <img src="{{global.pathRecursos}}/imagenes/logos/logotipo2_small.png" alt="logo" class="logo-default" style="width: 110%;"/>
                        </div>
                    </div>
                    <div class="panel-body" >
                
                        <form class="row" action="{{path('acceso_login')}}" method="POST">
                            
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible text-center">
                                    <p> Credenciales Inválidas </p>
                                </div>
                            {% endif %}

                            <div class="form-wrapper col-lg-12 col-sm-12 col-xs-12">
                                <label for="Login"> Usuario </label>
                                <div class="form-group">
                                    <input type="text" class="form-control text-center" id="username"  name="_username" value="" autofocus required>
                                </div>
                            </div>

                            <div class="form-wrapper col-lg-12 col-sm-12 col-xs-12">
                                <label for="Password"> Contraseña </label>
                                <div class="form-group ">
                                   <input id="password" type="password" class="form-control text-center" name="_password" required>
                                   
                                </div>
                            </div>
                            <div class="form-wrapper col-lg-12 col-sm-12 col-xs-12">
                                <button class="btn btn-lg btn-default btn-block" id="btn-login" style="background-color: #cb2f1d !important;" type="submit">Ingresar</button>    
                            </div>

                        </form>

                    </div>
                </div>
            </div>
            
        </div>
                        
    </body>
{% endblock %}    
{% block javascripts %}

    <script type="text/javascript">

        /*Muestra mensaje de alerta*/
        function showAlertMessage(alert, mensaje){
            $(alert).text(mensaje).show('fade');
            setTimeout(function(){
                hideAlertMessage(alert);    
            }, 3000);
        }

        /*Oculta mensaje de alerta*/
        function hideAlertMessage(alert){
            $(alert).hide('fade');      
        }
        
    
    </script>

{% endblock %}