{% set cant = cont %}
{% if result %} 
    {% for lst in lstAanamnesisPac %}
        <div class="mt-actions">
            <div class="mt-action">
                <div class="mt-action-body">
                    <div class="mt-action-row">
                        <div class="mt-action-info ">
                            <div class="mt-action-icon ">
                                <i class="fa fa-user-md"></i>
                            </div>
                            <div class="mt-action-details ">
                                <span class="mt-action-author">Doctor : {{lst.nom}} {{lst.ap}}</span>
                                <p class="mt-action-desc">TE: {{lst.TE}} | Inicio: {{lst.inicio}} </p>
                                <p class="mt-action-desc">Curso: {{lst.curso}} </p>
                            </div>
                        </div>
                        <div class="mt-action-datetime ">
                            <span class="mt-action-date"><i class="fa fa-calendar"></i> {{lst.fecha | date('Y-m-d')}}</span>
                        </div>
                        <div class="mt-action-buttons ">
                            <div class="btn-group btn-group-circle">
                                <button class="btn btn-xs red btn-circle" style="margin-left: 0px;margin-right: 0px;" onclick="EliminaraanamPac('{{lst.codigo}}');"><i class="fa fa fa-trash"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% else %}
    <div class="col-md-6 col-md-offset-4"> 
        
    </div>
{% endif %}

<script type="text/javascript">

    jQuery(document).ready(function () {
        disabled('{{cant}}');   
    });

    function disabled(cant){
    
        if(cant == 0 ){

            $("#txtTE").attr('disabled', false);
            $("#txtInicio").attr('disabled', false);
            $("#txtCurso").attr('disabled', false);
            $('#btnAnamPac').attr("disabled", false);

        }else{

            $("#txtTE").attr('value','');
            $("#txtInicio").attr('value','');
            $("#txtCurso").attr('value','');
            $("#txtTE").attr('disabled', 'disabled');
            $("#txtInicio").attr('disabled', 'disabled');
            $("#txtCurso").attr('disabled', 'disabled');
            $('#btnAnamPac').attr("disabled", true);
        }

    }
    
</script>