{% extends 'base.html.twig' %}
{% block page_head %}
{% endblock %}

{% block breadcrumb %}
    <ul class="page-breadcrumb breadcrumb">
        <li class="active"><strong>DOCTOR </strong><small> Registros clínicos </small> </li> <i class="fa fa-circle"></i>  
        <li  style=" float:right; "title="Atrás"><a href="{{path('doctor_home')}}"><i class="fa fa-arrow-left" style="font-size:1.5em; color:black"></i></a></li>
    </ul>
{% endblock %}

{% block body_content %}
    <div class="page-content-inner">
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN TODO SIDEBAR -->
                <div class="todo-ui">
                    <div class="todo-sidebar">
                        <div class="portlet light ">
                            {#<div class="portlet-title">
                                <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                                    <span class="caption-subject font-red bold uppercase">ANTECENDENTE </span>
                                    <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">Click para ver o ocultar el menu</span>
                                </div>
                            </div>#}
                            <style>
                                .listbadge{
                                    color:#697882;
                                }
                                .profile-sidebar-portlet {
                                    padding: 0px 0 0!important;
                                }
                            </style>
                            <div class="portlet-body todo-project-list-content" style="height: auto;">
                                <div class="light profile-sidebar-portlet" style="border-bottom: 1px solid #eee;">
                                    <!-- SIDEBAR USERPIC -->
                                    <div class="profile-userpic">
                                        <img src="{{asset('bundles/public/img/icon/user.png')}}" class="img-responsive" alt=""> </div>
                                    <!-- SIDEBAR USER TITLE -->
                                    <div class="profile-usertitle">
                                        <div class="profile-usertitle-name" style="font-size: 12px !important;">{{Paciente}}</div>
                                        <div class="profile-usertitle-job" style="color: #cb2f1d !important;">PACIENTE</div>
                                    </div>
                                    <br>
                                    <!-- END MENU -->
                                </div>
                                <div class="todo-project-list" style="padding-top: 5px;">
                                    <ul class="nav nav-pills nav-stacked" id="items">
                                        <li>
                                            <a  class="listbadge" href="{{path('doctor_anamenis',{codatencion:codatencion})}}">
                                                <span class="badge badge-danger" id="item4"> 0 </span>Anamnenis
                                            </a>
                                        </li>
                                        <li>
                                            <a  class="listbadge" href="{{path('doctor_diagnostico',{codatencion:codatencion})}}">
                                                <span class="badge badge-danger"  id="item1"> 0 </span>Diagnóstico
                                            </a>
                                        </li>
                                        <li>
                                            <a  class="listbadge" href="{{path('doctor_procedimiento',{codatencion:codatencion})}}">
                                                <span class="badge badge-danger"  id="item2"> 0 </span>Procedimientos
                                            </a>
                                        </li>
                                        <li class="active">
                                            <a  class="listbadge"  href="{{path('doctor_receta',{codatencion:codatencion})}}">
                                                <span class="badge badge-danger badge-active"  id="item3"> 0 </span>Receta Médica
                                            </a>
                                        </li>
                                        <li class="active" id="btnfinalizar" style="text-align: center;display: none;padding-top: 15px;">
                                            <button class="btn btn-circle btn-success" type="button" onclick="FinalizarAtencion()">
                                                Finalizar Atención<br>
                                            </button>
                                        </li>
                                    </ul>
                                </div>         
                            </div>
                        </div>
                    </div>
                    <!-- END TODO SIDEBAR -->
                    <!-- BEGIN TODO CONTENT -->
                    <div class="todo-content">
                        <div class="portlet light ">
                            <!-- PROJECT HEAD -->
                            <div class="portlet-title">
                                <div class="caption">
                                    <span class="caption-helper">DIAGNÓSTICO :</span> &nbsp;
                                    <span class="caption-subject font-red bold uppercase">REGISTRO DE LA RECETA MÉDICA</span>
                                </div>
                            </div>
                            <div class="portlet-body">
                                <div class="row">
                                    <div class="col-md-12 col-sm-7" style="border-bottom: 1px solid #eee;">
                                        <form action="#" class="form-horizontal">
                                            <div class="form">
                                                <div class="form-group">
                                                    <div class="col-md-10">
                                                        <label class="control-label">Medicamentos :</label>
                                                        <select class="js-example-basic-single col-md-10" name="select2" id="select2" >
                                                            <option value="0">[Seleccionar]</option>
                                                            {%for cbo in medicamento%}
                                                                <option value="{{cbo.codMedicamento}}">{{cbo.medDescripcion}}</option>
                                                            {%endfor%}
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <input type="text" class="form-control todo-taskbody-tasktitle" placeholder=" % concentración " id="txtconcentracion" name="txtconcentracion">
                                                    </div>    
                                                    <div class="col-md-2" style="padding-top: 10px;">
                                                        <label class="control-label">Dosis :</label>
                                                        <input type="number" class="form-control todo-taskbody-tasktitle" placeholder="Dosis" id="txtdosis" name="txtdosis"> 
                                                    </div>
                                                    <div class="col-md-2" style="padding-top: 10px;">
                                                        <label class="control-label" style="color: white">tdosis :</label>
                                                        <select class="form-control" id="cbotdosis" name="cbotdosis">
                                                            <option value="0">[Seleccionar]</option>
                                                            <option value="1">horas</option>
                                                            <option value="2">dias</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding-top: 10px;">
                                                        <label class="control-label" >Duracion :</label>
                                                        <input type="number" class="form-control todo-taskbody-tasktitle" placeholder="Duración" id="txtduracion" name="txtduracion"> 
                                                    </div> 
                                                    <div class="col-md-2" style="padding-top: 10px;">
                                                        <label class="control-label"  style="color: white">tduracion :</label>
                                                        <select class="form-control" id="cbotduracion" name="cbotduracion">
                                                            <option value="0">[Seleccionar]</option>
                                                            <option value="1">días</option>
                                                            <option value="2">semanas</option>
                                                            <option value="3">mes</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-md-2" style="padding-top: 10px;">
                                                        <label class="control-label">Unidad :</label>
                                                        <input type="number" class="form-control todo-taskbody-tasktitle" placeholder="Unidad " id="txtunidad" name="txtunidad"> 
                                                    </div>
                                                    <div class="col-md-2" style="padding-top: 10px;">
                                                        <label class="control-label" style="color: white">Diagnóstico</label>
                                                        <button class="btn  btn-sm red" type="button" onclick="GuardarReceta();">Guardar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>

                                    </div>
                                    <div class="col-lg-12 col-xs-12 col-sm-12">
                                        <div class="tab-content" > 
                                            <div class="mt-actions">
                                                <div class="col-md-12 mt-action" style="padding-top: 2px;padding-bottom: 2px;border-bottom: 1px solid #eeeeee;background: #cb2f1d;color: white;font-weight: bold;">
                                                    <div class="col-md-4" style="text-align: center">
                                                        Medicamento
                                                    </div>
                                                    <div class="col-md-2">
                                                        Unidad
                                                    </div>
                                                    <div class="col-md-2">
                                                        Dosis
                                                    </div>
                                                    <div class="col-md-2">
                                                        Duración
                                                    </div>
                                                    <div class="col-md-2">
                                                        
                                                    </div>
                                                </div>
                                                <div id="viewAmedicamento">
                                                    
                                                </div>
                                            </div>
                                        </div>  
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END TODO CONTENT -->
                </div>
            </div>
            <!-- END PAGE CONTENT-->
        </div>
    </div>                                           
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{{global.pathRecursos}}/assets/admin/pages/css/todo.css"/>
    <style>
        .page-header .page-header-top .page-logo .logo-default {
            margin: 10px 0 0 0;
        }
        .todo-project-list .nav-pills > li.active > a {
            background-color: #cb2f1d !important;
        }

        .todo-project-list .nav li a .badge {
            background-color: #cb2f1d !important;
        }

        .todo-project-list .nav li a .badge-active {
            background-color: #ffffff !important;
        }
    </style>
{% endblock %}

{% block pagePlugins %}
    <script src="{{global.pathRecursos}}/assets/admin/pages/scripts/todo.js" type="text/javascript"></script>
    <!-- BEGIN PAGE LEVEL SCRIPTS -->
    <script src="{{global.pathRecursos}}/assets/global/scripts/metronic.js" type="text/javascript"></script>
    <script src="{{global.pathRecursos}}/assets/admin/layout3/scripts/layout.js" type="text/javascript"></script>
    <script src="{{global.pathRecursos}}/assets/admin/layout3/scripts/demo.js" type="text/javascript"></script>        
    <!-- END PAGE LEVEL SCRIPTS -->      
    {#    <script src="{{global.pathWeb}}/bundles/public/js/index.js"></script>  #}

    <script>
        jQuery(document).ready(function () {
            Metronic.init(); // init metronic core componets
            Layout.init(); // init layout
            Demo.init(); // init demo(theme settings page)
            Todo.init(); // init todo page
            $('#select2').select2();
            lstAmedicamento('{{codatencion}}');
            ListarCantidades('{{codatencion}}');
            $('.js-example-basic-single').select2();
        });
        
        function lstAmedicamento(codatencion) {
            $('#viewAmedicamento').html("<div class='col-md-12' style='padding-bottom: 10px;text-align:center'><img src='{{asset('bundles/public/img/cargando.gif')}}' /></div>");
            var formURL = "{{path('doctor_lista_amedicamento')}}";
            $.ajax(
                    {
                        url: formURL,
                        type: "POST",
                        data: {codatencion: codatencion},
                        success: function (data, textStatus, jqXHR)
                        {
                            $('#viewAmedicamento').html(data);
                        }
                    });
        }
        
        function GuardarReceta() {
            var codmedicamento,concentracion,unidad,dosis,tdosis,duracion,tduracion,rsp;
            codmedicamento=$('#select2').val();
            concentracion =$('#txtconcentracion').val();
            unidad=$('#txtunidad').val();
            dosis=$('#txtdosis').val();
            tdosis=$('#cbotdosis').val();
            duracion=$('#txtduracion').val();
            tduracion=$('#cbotduracion').val();
            jConfirm("¿Está seguro de continuar?", "Sistema de Tópico - IPD", function (callback) {
            if (callback) {
            var formURL = "{{path('doctor_guardar_medicamento')}}";
            $.ajax(
                    {
                        url: formURL,
                        type: "POST",
                        data: {codmedicamento: codmedicamento,concentracion:concentracion,unidad:unidad,dosis:dosis,tdosis:tdosis,duracion:duracion,tduracion:tduracion,codatencion:{{codatencion}}},
                        success: function (data, textStatus, jqXHR)
                        {
                            rsp = JSON.parse(data);
                            if(rsp.result){
                                lstAmedicamento('{{codatencion}}');
                                ListarCantidades('{{codatencion}}');
                                $('#txtconcentracion').val('');
                                $('#txtunidad').val('');
                                $('#txtdosis').val('');
                                $('#cbotdosis').val(0);
                                $('#txtduracion').val('');
                                $('#cbotduracion').val(0);
                            }else{
                                jAlert('info', rsp.mensaje, 'Sistema de Topico - IPD', null);
                            }
                        }
                    });
                } else {
                   return false;
               }
            });       
        }
        
        
        function ListarCantidades(codatencion) {
            var rsp;
            var formURL = '{{path('Diagnostico_lista_items_count')}}';
            $.ajax(
                    {
                        url: formURL,
                        type: "POST",
                        data: {codatencion:codatencion},
                        success: function (data, textStatus, jqXHR)
                        {
                            
                            rsp = JSON.parse(data);
                            $('#item1').html(rsp.ItemsDiag);
                            $('#item2').html(rsp.ItemsProc);
                            $('#item3').html(rsp.ItemsRec);
                            $('#item4').html(rsp.anamenis);
                            
                            if(rsp.ItemsDiag>0 && rsp.ItemsRec>0){
                                $('#btnfinalizar').show();
                            }else{
                                $('#btnfinalizar').hide();
                            }
                        }
                    });
        }  
       
        function FinalizarAtencion(){
            var rsp;
            var formURL = '{{path('doctor_finalizar_atencion')}}';
            $.ajax(
                    {
                        url: formURL,
                        type: "POST",
                        data: {codatencion:'{{codatencion}}'},
                        success: function (data, textStatus, jqXHR)
                        {
                            
                            rsp = JSON.parse(data);
                            if(rsp.result){
                                location.href ='{{path('doctor_home')}}';
                            }else{
                                alert('Incorrecto');
                            }
                        }
                    });
        }
    </script>
{% endblock %}

